<%- include("header") -%>

    <h1>Hola</h1>
    <input type="button" onclick="alerta()" class="hola" value="Hola">

    <h1>PokeGuessr</h1>
    <div>
        <img src="https://pokeres.bastionbot.org/images/pokemon/<%= pokeId %>.png" alt="">
        <p class="nombre"> <%= pokeName %> </p>
    </div>
<%- include("footer") -%>